:host {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 1.5;
  color: #e8e8e8;
  font-size: 14px;
  font-family: Consolas, monospace;
  padding: 16px;
  border-radius: 8px;
  overflow: auto;
  max-height: 400px;
}

.item {
  margin-right: 4px;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 4px 0;
}

.item.nil-value,
.item .object .key {
  color: #fff6;
}

.item.string {
  color: #4fb2d3;
}

.item.number {
  color: #8e78f2;
}

.item.function {
  font-style: italic;
  white-space: pre-wrap;
}

.item.has-style {
  margin-right: unset;
}

.function-symbol {
  color: #d45831;
}

.class-symbol {
  color: #d4653d;
}

.key {
  color: #79aaf8;
}

.key.length-key {
  opacity: 0.6;
}

.toggle {
  cursor: pointer;
  color: #bbb;
  user-select: none;
  margin-right: 5px;
}

.closed>.toggle::before {
  content: "▶";
}

.open>.toggle::before {
  content: "▼";
}

.container {
  display: inline-flex;
  flex-direction: column;
}

.nested {
  display: none;
  margin-left: 12px;
}

.open>.container>.nested {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #444;
  margin-top: 8px;
}

th {
  color: #fff4;
}